.Quiz {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    width: 100%;
    padding-top: 100px;
    background: linear-gradient(90deg, #24d1e8 0%, #009ef3 100%);
}

.Quiz h1 {
    margin-left: 10px;
    color: white;
}

.QuizWrapper {
    width: 600px;
    height:  auto;
    background-color: #4d5761;
    margin: 5rem;

}

.AvatarSty {
    background-color: grey;
    border-radius: 10rem;
}