.contenedorInf {
  width: 55em;
  height: 40rem;
  margin: 10px 10px 50px;
  display: flow-root;
  align-items: center;
  justify-content: center;
  background-color:rgb(99, 158, 214);
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.imgInf {
  height: 10rem;
  align-self: flex-start;
  margin-left: 6rem;
  margin-top: 1rem;
  width: auto;
}

.contenedorTextoInf {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.nombreInf {
  font-size: 1.3rem;
}

.textoInf {
  font-size: 1.1rem;
  text-align: justify;
}
